.main_wrap {
  float: left;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-end; }
  .main_wrap .nav_bar {
    float: left;
    width: 100%;
    transition: .5s;
    background: url("../img/pattern.jpg");
    height: 100%; }
    .main_wrap .nav_bar .logo_cont {
      float: left;
      width: 100%;
      text-align: center;
      padding: 0 10px;
      padding-bottom: 5px; }
      .main_wrap .nav_bar .logo_cont a {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px; }
        .logo_cont img{
          float: left;
          width: 100%;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
    .main_wrap .nav_bar .searcher_cont {
      float: left;
      width: 100%;
      border-top: 2px solid #c31f26;
      border-bottom: 2px solid #c31f26;
      padding: 25px 15px;
      padding-bottom: 28px; }
      .main_wrap .nav_bar .searcher_cont form {
        float: left;
        width: 100%; }
        .main_wrap .nav_bar .searcher_cont form .inpt_form {
          float: left;
          width: 100%;
          position: relative; }
          .main_wrap .nav_bar .searcher_cont form .inpt_form input {
            float: left;
            width: 100%;
            color: #c31f26;
            border-radius: 3px;
            border: 2px solid #333333;
            background: #191919;
            padding-left: 35px;
            padding-right: 10px;
            font-family: 'HNCL';
            height: 35px;
            font-size: 14px;
            box-sizing: border-box;
            margin: 0; }
            .main_wrap .nav_bar .searcher_cont form .inpt_form input::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: #c31f26; }
            .main_wrap .nav_bar .searcher_cont form .inpt_form input::-moz-placeholder {
              /* Firefox 19+ */
              color: #c31f26; }
            .main_wrap .nav_bar .searcher_cont form .inpt_form input:-ms-input-placeholder {
              /* IE 10+ */
              color: #c31f26; }
            .main_wrap .nav_bar .searcher_cont form .inpt_form input:-moz-placeholder {
              /* Firefox 18- */
              color: #c31f26; }
          .main_wrap .nav_bar .searcher_cont form .inpt_form .btn_sub_search {
            position: absolute;
            border: none;
            background: none;
            top: 5px;
            left: 3px; }
            .main_wrap .nav_bar .searcher_cont form .inpt_form .btn_sub_search i {
              color: red;
              font-size: 19px; }
          .main_wrap .nav_bar .searcher_cont form .inpt_form a {
            text-align: center;
            display: inline-block;
            border: 2px solid #2d2d2d;
            border-radius: 3px;
            background: #000;
            display: none; }
            .main_wrap .nav_bar .searcher_cont form .inpt_form a i {
              line-height: 30px;
              color: #fff;
              padding: 0 15px;
              font-size: 20px; }
    .main_wrap .nav_bar .menu_ul {
      float: left;
      width: 100%; }
      .main_wrap .nav_bar .menu_ul ul {
        float: left;
        width: 100%; }
        .main_wrap .nav_bar .menu_ul ul li {
          float: left;
          width: 100%;
          border-bottom: 1px solid #000; }
          .main_wrap .nav_bar .menu_ul ul li a {
            font-family: 'HNCL';
            font-size: 16px;
            color: #fff;
            min-height: 61px;
            float: left;
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 15px; }
            .main_wrap .nav_bar .menu_ul ul li a:hover, .main_wrap .nav_bar .menu_ul ul li a:focus, .main_wrap .nav_bar .menu_ul ul li a:active {
              background: #413f3f;
              text-decoration: none;
              transition: .4s; }
               .main_wrap .nav_bar .menu_ul  .count{
                width: 24px;
                height: 24px;
                background-color: #c31f26;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                font-family: "HNCL";
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                border-radius: 100%;
               }
            .main_wrap .nav_bar .menu_ul ul li a i {
              margin-right: 15px;
              margin-bottom: 6px;
              color: #8a8a8a;
              font-size: 19px;
              margin-top: 5px; }
    .main_wrap .nav_bar .get_out_cont {
      float: left;
      width: 100%;
      background: #bbbbbb;
      padding: 20px 15px;
      padding-top: 27px;
      padding-bottom: 16px; }
      .main_wrap .nav_bar .get_out_cont h3 {
        font-family: 'HNCM';
        float: left;
        width: 100%;
        text-align: left;
        font-size: 20px;
        color: #191919;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .main_wrap .nav_bar .get_out_cont p {
        float: left;
        width: 100%;
        text-align: left;
        font-family: 'HNCL';
        font-size: 14px;
        color: #191919;
        line-height: 20px; }
      .main_wrap .nav_bar .get_out_cont ul {
        float: left;
        width: 100%;
        margin-top: 10px; }
        .main_wrap .nav_bar .get_out_cont ul li {
          float: left;
          width: 100%;
          text-align: center;
          margin-bottom: 10px; }
          .main_wrap .nav_bar .get_out_cont ul li a {
            float: left;
            width: 100%;
            text-align: center; }
            .main_wrap .nav_bar .get_out_cont ul li a:hover, .main_wrap .nav_bar .get_out_cont ul li a:focus, .main_wrap .nav_bar .get_out_cont ul li a:active {
              text-decoration: none;
              transition: .4s; }
            .main_wrap .nav_bar .get_out_cont ul li a span {
              font-size: 18px;
              line-height: 50px;
              display: inline-block;
              color: #fff;
              border-radius: 50px;
              text-align: center;
              background: #191919;
              width: 100%;
              font-family: 'HNCL'; }
          .main_wrap .nav_bar .get_out_cont ul li img {
            width: 38px;
            height: 38px;
            max-width: 100%;
            display: inline-block;
            display: none; }
    .main_wrap .nav_bar .contact_cont {
      float: left;
      width: 100%;
      padding: 20px 15px; }
      .main_wrap .nav_bar .contact_cont ul {
        float: left;
        width: 100%; }
        .main_wrap .nav_bar .contact_cont ul li {
          float: left;
          margin-right: 15px; }
          .main_wrap .nav_bar .contact_cont ul li a {
            font-size: 14px;
            color: #9b9b9b;
            float: left;
            font-family: 'HNCL';
            line-height: 23px; }
          .main_wrap .nav_bar .contact_cont ul li:last-child {
            margin-right: 0; }
    .main_wrap .nav_bar .social_cont {
      float: left;
      width: 100%;
      padding: 0 15px; }
      .main_wrap .nav_bar .social_cont ul {
        float: left;
        width: 100%;
        padding-bottom: 20px; }
        .main_wrap .nav_bar .social_cont ul li {
          float: left; }
          .main_wrap .nav_bar .social_cont ul li a {
            float: left; }
            .main_wrap .nav_bar .social_cont img{
              float: left;
              width: 100%;
              max-height: 100%;
              height: auto;
              max-width: 100%;
            }

section.module:last-child {
  margin-bottom: 0; }

section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px; }

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300; }

section.module p:last-child {
  margin-bottom: 0; }

section.module.content {
  padding: 40px 0; }

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.btn-floating i {
  position: absolute;
  top: -1px !important;
  left: -1px !important; }

.menu_column {
  width: 225px;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
  z-index: 100000;
  background: url(../img/pattern.jpg);
  height: 100vh;
  overflow-y: auto; }
  .menu_column::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 5px;
    height: 0px; }
  .menu_column::-webkit-scrollbar-track {
    background-color: #ecedee; }
  .menu_column::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #535452; }
  .menu_column::-webkit-scrollbar-thumb:hover {
    background-color: #4E4D4D; }
  .menu_column::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px; }
  .menu_column::-webkit-scrollbar {
    width: 6px; }

/*.side-nav{
	transform: translateX(0) !important;
	position: static !important;
	overflow-y: hidden !important;
	height: auto !important
}*/
.button-collapse {
  display: none !important;
  position: absolute !important;
  top: 10px !important;
  left: 10px !important; }

#close {
  display: none; }

#sidenav-overlay {
  display: none; }

.humburger_icon {
  background: #c31f26 !important;
  position: fixed !important; }

.menu_active {
  transition: .5s;
  position: fixed;
  z-index: 1000000000000;
  width: 200px !important;
  height: 100%;
  background: #2d2d2d; }

.menu_hidden {
  width: 0 !important;
  transition: .5s;
  position: fixed;
  z-index: 10000000000000; }

.menu_close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.menu_close_btn i {
  color: #fff;
  font-size: 35px; }

.fixed_bottom_menu {
  float: left;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #191919;
  z-index: 1000000;
  display: none; }
  .fixed_bottom_menu ul {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .fixed_bottom_menu ul li {
      width: 25%;
      height: 100%;
      padding-top: 4px;
      border: 1px solid transparent; }
      .fixed_bottom_menu ul li a {
        line-height: 60px;
        float: left;
        width: 100%;
        padding: 2px 10px 0;
        font-family: 'HNCL';
        color: #fff;
        font-size: 15px; }
        .fixed_bottom_menu ul li a i {
          margin: 0 auto;
          display: table;
          float: none; }
        .fixed_bottom_menu ul li a span {
          float: left;
          width: 100%;
          text-align: center;
          line-height: 30px; }
      .fixed_bottom_menu ul li:hover, .fixed_bottom_menu ul li:focus, .fixed_bottom_menu ul li:active {
        background: #ccc;
        transition: .5s;
        border: 1px solid #ccc; }
      .fixed_bottom_menu ul li:hover a, .fixed_bottom_menu ul li:focus a, .fixed_bottom_menu ul li:active a {
        color: #333;
        text-decoration: none; }

.btn_sub_search i {
  color: #fff !important; }

.btn_click, .close_search {
  display: none; }

@media (max-width: 1199px) {
  .main_wrap {
    position: relative; } }
@media (max-width: 991px) {
  .main_wrap .nav_bar .menu_ul ul li a span {
    display: none; }

  .main_wrap .nav_bar .menu_ul ul li a {
    padding-left: 0;
    text-align: center; }

  .main_wrap .nav_bar .menu_ul ul li a i {
    margin-right: 0;
    margin-bottom: 0;
    color: #8a8a8a;
    font-size: 21px;
    display: table;
    float: none;
    margin: 0 auto; }

  .main_wrap .nav_bar .get_out_cont {
    padding: 20px 10px; }

  .main_wrap .nav_bar .get_out_cont h3 {
    font-size: 18px; }

  .main_wrap .nav_bar .get_out_cont p {
    text-align: center; }

  .main_wrap .nav_bar .contact_cont ul li {
    width: 100%;
    margin-right: 0;
    text-align: center; }

  .main_wrap .nav_bar .contact_cont ul li a {
    text-align: center;
    width: 100%; }

  .main_wrap .nav_bar .social_cont ul li {
    width: 100%;
    text-align: center; }
    .main_wrap .nav_bar .social_cont ul li a {
      display: inline-block;
      float: none; }

  .main_wrap .nav_bar .searcher_cont form .inpt_form {
    text-align: center; }

  .main_wrap .nav_bar .searcher_cont form .inpt_form a {
    display: block; }

  .btn_sub_search, .close_search {
    display: none; }

  .main_wrap .nav_bar .searcher_cont form .inpt_form input {
    padding: 0 10px; }

  .fixed_bottom_menu {
    display: none; }

  .btn_sub_search i {
    color: #fff !important; }

  .close_search {
    display: none; }

  .hidden_inpt {
    display: none; }

  .visibly_inpt {
    display: block; }

  .main_wrap .nav_bar .get_out_cont ul li a img {
    display: block;
    margin: 0 auto; }

  .main_wrap .nav_bar .get_out_cont ul li a span {
    display: none; }

  .main_wrap .nav_bar .get_out_cont h3 {
    text-align: center; }

  .menu_column {
    width: 180px; } }
@media (max-width: 767px) {
  .main_wrap {
    float: left;
    width: 100%; }

  .main_wrap .nav_bar .logo_cont a {
    float: left;
    margin-left: 10px; }

  .menu_column {
    width: 0; }
  .button-collapse {
    z-index: 100000;
    display: block !important;
    position: absolute; }

  .main_tv {
    width: 100%; }
  .calendar_page .calendar_left_cont .data_cont h3{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .nav_bar {
    transition: 1s;
    overflow-y: scroll !important; }

  #sidenav-overlay {
    background-color: transparent !important; }

  #close {
    display: block;
    float: right;
    margin: 5px;
    margin-right: 13px; }

  .main_wrap .nav_bar .menu_ul ul li a i {
    float: left;
    margin-left: 10px;
    margin-right: 10px; }

  .main_wrap .nav_bar .menu_ul ul li a span {
    display: block; }

  .main_wrap .nav_bar .searcher_cont {
    position: fixed;
    right: 0;
    width: 57%;
    top: 12px;
    z-index: 1000000; }

  .close_search {
    display: none;
    right: 5px;
    left: inherit !important; }

  .main_wrap .nav_bar .searcher_cont form .inpt_form a {
    display: none; }

  .main_wrap .nav_bar .searcher_cont form .inpt_form input {
    padding-right: 35px; }

  .main_wrap .nav_bar .searcher_cont {
    padding: 0;
    border: none; }

  .btn_sub_search {
    display: none; }

  .btn_sub_search {
    right: 11px;
    left: inherit !important; }

  .main_wrap .nav_bar .logo_cont {
    border-bottom: 2px solid red; }

  .main_wrap .nav_bar .contact_cont {
    padding-top: 10px; }

  .main_wrap .nav_bar .menu_ul ul li a {
    font-family: 'HNCL';
    font-size: 16px;
    color: #fff;
    min-height: 50px; }

  .fixed_bottom_menu {
    display: block; }

  .btn_sub_search i {
    color: red !important; }

  .btn_click {
    display: block; }

  .btn_click {
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
    bottom: 5px;
    left: inherit;
    border: none;
    background: transparent; }

  .btn_click:focus, .btn_click:active {
    border: none;
    background: transparent; }

  .inpt_form input[type=search] {
    width: 15px !important;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    background: #191919 url("../img/search.png") no-repeat center !important;
    padding: 9px 10px 9px 32px !important; }
  .inpt_form input[type=search]:hover {
    background-color: #fff; }
  .inpt_form input[type=search]:focus {
    width: 140px !important;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    background: #191919 url("../img/search.png") no-repeat 9px center !important;
    cursor: auto; }

  .main_wrap .nav_bar .searcher_cont form .inpt_form {
    float: right;
    width: auto;
    margin-right: 15px; }
    .main_wrap .nav_bar .searcher_cont{
      width: auto;
      float: right;
    }
    .main_wrap .nav_bar .menu_ul ul li a {
      font-family: 'HNCL';
      font-size: 14px;
    }
    
    .main_wrap .nav_bar .menu_ul .count{
      font-size: 12px;
      width: 15px;
      height: 15px;
      right: 13px;
    }
  .menu_column {
    overflow-y: hidden; } }
@media (max-width: 500px) {
  .menu_active {
    transition: .5s;
    position: fixed;
    z-index: 1000000000000;
    width: 150px !important;
    height: 100%;
    background: #2d2d2d; }

  .main_wrap .nav_bar .searcher_cont {
    position: fixed;
    right: 0;
    width: 55%;
    top: 12px;
    z-index: 1000000; }
  

  .fixed_bottom_menu ul li a {
    font-size: 13px;
    padding: 3px 0 0; }
    .fixed_bottom_menu ul li a span {
      line-height: 20px;
    }

  input[type=search]:focus {
    width: 130px !important;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    background: #191919 url("../img/search.png") no-repeat 9px center !important;
    cursor: auto; } }

/*# sourceMappingURL=menu.css.map */
